.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 115px;
  height: 100vh;
  background-color: #FF7F5C;
  border-radius: 0px 30px 30px 0px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1; /* Increase the z-index value */
}


.sidebar h1 {
  margin-top: 30px;
}

.middle-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom-icon {
  margin-bottom: 30px;
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .sidebar {
    width: 80px;
  }

  .sidebar h1 {
    margin-top: 20px;
  }
}


