<div class="sidebar">
  <h1 routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <img src="../../assets/Images/PMS.png" alt="">
  </h1>

  <div class="middle-icons">
    <a routerLink="/">
      <img src="../../assets/Images/control-room.png" alt="">
    </a>

    <a routerLink="/">
      <img src="../../assets/Images/dashboard.png" alt="">
    </a>

    <a routerLink="/">
      <img src="../../assets/Images/elements.png" alt="">
    </a>

    <a routerLink="/">
      <img src="../../assets/Images/settings.png" alt="">
    </a>

    <a routerLink="/">
      <img src="../../assets/Images/notifications.png" alt="">
    </a>
  </div>

  <div class="bottom-icon">
    <a routerLink="/">
      <img src="../../assets/Images/logout.png" alt="">
    </a>
  </div>
</div>
