<div class="top-nav">
  <div class="dot-container">
    <div class="dot"></div>
    <img
      class="logo"
      src="../../assets/Images/gas-station-svgrepo-com@2x.png"
      alt="Icon"
    />

    <div class="text-bold">2/3</div>

    <div class="text">
      <div>Monitored</div>
      <div>Stations</div>
    </div>

    <div class="dot"></div>
    <img class="logo" src="../../assets/Images/pngwing.com.png" alt="Icon" />
    <div class="text-bold">20s</div>

    <div class="text">
      <div>Last</div>
      <div>Update</div>
    </div>
  </div>

  <div class="container">
    <div class="nav-buttons">
      <button class="active">Today</button>
      <button>Tomorrow</button>
      <button>Yesterday</button>
    </div>
  </div>

  <div class="triangle-container">
    <div class="triangle"></div>
    <div class="text-content">
      Start <small>date - time </small> <i class="fas fa-calendar"></i>

      <div class="line"></div>
    </div>
  </div>

  <div class="triangle-container">
    <div class="triangle"></div>

    <div class="text-content">
      End <small>date - time </small> <i class="fas fa-calendar"></i>

      <div class="line"></div>
    </div>
  </div>
</div>
