<div class="container">
  <!-- Left Side -->
  <div class="left-side">

      <div class="cards-container">
        <div class="card active">
          <div class="number">71,028 <span class="currency">EGP</span></div>
          <div class="title">Total Value</div>
          <div class="arrow">↓ 2%</div>
        </div>

        <!-- Card 2 -->
        <div class="card">
          <div class="number">20,000  <span class="sd">M</span></div>
          <div class="title">Total Sales</div>
          <div class="arrow">↓ 50 m</div>
        </div>

        <div class="card">
          <div class="number">20,000 <span class="sd">M</span></div>

          <div class="title">Avg Sales</div>
          <div class="arrow">↓ 50 m</div>
        </div>

        <div class="card">
          <div class="number">1567</div>
          <div class="title">Total Transaction Count</div>
          <div class="arrow">↓ 20</div>
        </div>
      </div>


      <div class="buttons-container">
        <button class="button" [class.active]="currentView === 'chart'" (click)="switchView('chart')"><i class="fa-solid fa-signal"></i> GRAPH</button>
        <button class="button" [class.active]="currentView === 'list'" (click)="switchView('list')"><i class="fa-solid fa-list"></i> LIST</button>
      </div>

      <div class="graph" *ngIf="currentView === 'chart'">

        <div style="width: 100%;">
          <div style="width: 100%;">
            <canvas id="myChart" width="700" height="250" #mychart></canvas>
          </div>

        </div>


       </div>
       <div class="list">
        <ng-container *ngFor="let _ of repeatArray(repeatCount); let i = index">
          <div class="card-content">

          <app-lit-componend
            *ngIf="currentView === 'list'"
          ></app-lit-componend>
        </div>

        </ng-container>

       </div>

  </div>

  <!-- Right Side -->
  <div class="right-side">
      <!-- Header -->
      <h1 class="header">Hourly Sales</h1>
      <!-- Graph -->
      <div class="graphC">
        <canvas id="radarChart"  #radarChart></canvas>


      </div>
      <h1 class="header">Hourly Sales</h1>
      <div class="chart-container">

        <div class="chart-info">
          <img src="../../assets/Images/gas-station-svgrepo-com.png" alt="Station Icon" class="station-icon">
          <div class="station-name">Station Name</div>
          <div class="station-value">62,721M</div>
        </div>
        <div class="skill-bar" style="width: 48%;"></div>

        <div class="chart-info">
          <img src="../../assets/Images/gas-station-svgrepo-com.png" alt="Station Icon" class="station-icon">
          <div class="station-name">Station Name</div>
          <div class="station-value">62,721M</div>
        </div>
        <div class="skill-bar" style="width: 48%;"></div>

        <div class="chart-info">
          <img src="../../assets/Images/gas-station-svgrepo-com.png" alt="Station Icon" class="station-icon">
          <div class="station-name">Station Name</div>
          <div class="station-valuee">NM</div>
        </div>
        <div class="skill-bar-non" style="width: 100%;"></div>

      </div>
</div>
</div>
