<div class="container">
  <!-- Left Side -->
  <div class="left-side">
      <!-- Cards -->
      <div class="cards-container">
        <div class="card active">
          <div class="number">71,028 <span class="currency">EGP</span></div>
          <div class="title">Total Value</div>
          <div class="arrow">↓ 2%</div>
        </div>

        <!-- Card 2 -->
        <div class="card">
          <div class="number">20,000  <span class="sd">M</span></div>
          <div class="title">Total Sales</div>
          <div class="arrow">↓ 50 m</div>
        </div>

        <div class="card">
          <div class="number">20,000 <span class="sd">M</span></div>

          <div class="title">Avg Sales</div>
          <div class="arrow">↓ 50 m</div>
        </div>

        <div class="card">
          <div class="number">1567</div>
          <div class="title">Total Transaction Count</div>
          <div class="arrow">↓ 20</div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="buttons-container">
        <button class="button active">GRAPH</button>
        <button class="button">LIST</button>
      </div>
      <!-- Graph -->
      <div class="graph">

        <div style="width: 100%;">
          <canvas id="myChart" width="700" height="250" margin-top="30px" #mychart></canvas>
        </div>


       </div>
  </div>

  <!-- Right Side -->
  <div class="right-side">
      <!-- Header -->
      <h1>HH</h1>
      <!-- Graph -->
      <div class="graph">Graph Here</div>
      <!-- Another Header -->
      <h1></h1>
      <div class="graph">Graph Here</div>

      <div class="graph">Graph Here</div>

      <div class="graph">Graph Here</div>

      <div class="graph">Graph Here</div>
</div>
</div>
